<br>
<h1 appDesingDirective>Change Color</h1>

<div class="row mt-4">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://103.99.202.39:8082/housemaid/images/whychooseus.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Tv</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="tv" class="btn btn-primary">Select Product</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://103.99.202.39:8082/housemaid/images/whychooseus.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Laptop</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="laptop" class="btn btn-primary">Select Product</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://103.99.202.39:8082/housemaid/images/whychooseus.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Machine</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="machine" class="btn btn-primary">Select Product</a>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="http://103.99.202.39:8082/housemaid/images/whychooseus.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Desktop</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a routerLink="desktop" class="btn btn-primary">Select Product</a>
      </div>
    </div>
  </div>
</div>

<div>
  <router-outlet></router-outlet>
</div>

<br>
<!-- <div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" appDropdowndir type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Dropdown button
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="#">Action</a>
    <a class="dropdown-item" href="#">Another action</a>
    <a class="dropdown-item" href="#">Something else here</a>
  </div>
</div> -->
